.about {
    width: 100%;
    /* min-height: 100vh; */
    background-color: var(--bg-color2);
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-content: flex-end; */
    flex-wrap: wrap;
    justify-content: space-around;
}

.aboutImg {
    position: relative;
    width: auto;
    height: 480px;
    z-index: 10;
}

.aboutImg img {
    width: 100%;
    height: 100%;
    z-index: 10;
}

.aboutImg::before {
    content: "";
    position: absolute;
    top: -2rem;
    left: -2rem;
    background: var(--linear-gradient);
    z-index: -1;
    width: 100%;
    height: 100%;
    /* transform: rotate(20deg); */
}

.aboutInfo {
    width: 40%;  
    display: flex;
    flex-direction: column;
}

.aboutInfo h1 {
    font-size: 3rem;
}
.aboutInfo p{
    color:var(--secondary-text);
    font-size: 1.1rem;
}

/* .about-skill-type*/

.about-skill-type{
    cursor: pointer;
    display: flex;
    margin: 1rem 0;
    align-items: center;
    justify-content: space-between;
}
.skill-type-frontend,.skill-type-backend{
    /* border: 1px solid red; */
    padding:0.5rem 1rem ;
    border-radius: 8px;
    background:var(--linear-gradient);
}

.skill-type-frontend:hover,.skill-type-backend:hover{
   box-shadow: var(--box-shadow);
}

.skill-type-frontend h2,.skill-type-backend h2{
    font-weight: 400;
    color: var(--btn-color);
    /* font-size: 50px; */
}

/* frontend skill */
/* about-skills */
.skill {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

.s1,
.s2,
.s3,
.s4,
.s5 {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0.5rem 0;
}

/* .skillicon{
    font-size: 4rem;
} */
.progress {
    width: 100%;
    height: 6px;
    background-color: azure;
    border-radius: 10px;
}

.bar {
    width: 80%;
    height: 100%;
    background: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
    border-radius: 10px;
}
.s5 .bar{
    width: 50%;
}
.s4 .bar {
    width: 60%;
}
.skill img {
    width: 50px;
}

/* backendSkill */
.backendSkill{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    position: relative;
}

.backend-skill-img{
    width:30%;
    height: auto;
    margin: 0 .3rem;
    padding: .5rem 1rem;
}
.backend-skill-img img{
    aspect-ratio:3/3;
    width:100%;
}

#download {
    margin: 1rem 0;
    background: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
    padding: 0.5rem 1rem;
    width: max-content;
    text-align: center;
    color: white;
    transition: all 300ms ease-in-out;
}

#download:hover {
    color: white;
    box-shadow: 0px 0px 20px 0px rgba(132, 144, 255, 0.633);
}

@media screen and (max-width: 768px) {
    .skill-type-frontend,.skill-type-backend{
        /* border: 1px solid red; */
        padding:0.5rem 1rem ;
        font-size: 0.5rem;
        margin: 0 0.5rem;
    }

}